<ion-content>

<div>
  <h1>My Tools</h1>
</div>

<ion-card id="depressionTools">
  <h2>Depression</h2>
  <ion-button (click)="selectDepression('simple')" class="dbutton">Simple Tools</ion-button>
  <ion-button (click)="selectDepression('stronger')" class="dbutton">Stronger Tools</ion-button>
  <ion-button (click)="selectDepression('extreme')" class="dbutton">Extreme Tools</ion-button>
</ion-card>

<ion-card id="manicTools">
    <h2>Manic/Hypomanic</h2>
    <ion-button (click)="selectManic('simple')" class="mbutton">Simple Tools</ion-button>
    <ion-button (click)="selectManic('stronger')" class="mbutton">Stronger Tools</ion-button>
    <ion-button (click)="selectManic('extreme')" class="mbutton">Extreme Tools</ion-button>
</ion-card>

</ion-content>
