<ion-content class="background">

    <ion-header>
      <ion-toolbar>
        <ion-title>My Tools</ion-title>
      </ion-toolbar>
    </ion-header>

<ion-card id="depressionTools">
  <h2>Depression</h2>
  <ion-button (click)="selectDepression('Simple')" class="dbutton">Simple Tools</ion-button>
  <ion-button (click)="selectDepression('Stronger')" class="dbutton">Stronger Tools</ion-button>
  <ion-button (click)="selectDepression('Extreme')" class="dbutton">Extreme Tools</ion-button>
</ion-card>

<ion-card id="manicTools">
    <h2>Manic/Hypomanic</h2>
    <ion-button (click)="selectManic('Simple')" class="mbutton">Simple Tools</ion-button>
    <ion-button (click)="selectManic('Stronger')" class="mbutton">Stronger Tools</ion-button>
    <ion-button (click)="selectManic('Extreme')" class="mbutton">Extreme Tools</ion-button>
</ion-card>

<br>

</ion-content>
