ion-content {
    text-align: center;
    margin: auto;
}

#depressionTools {
    margin-top: 2%;
    margin-bottom: 2.5%;
}

ion-button {
    display: block;
    width: 80%;
    height: 50px;
    margin: auto;
    margin-top: 1%;
}

ion-card {
    width: 70%;
    margin: auto;
    padding: 1.5%;
    padding-bottom: 2.5%;
}

h2 {
    margin-bottom: 2.5%;
    font-size: 20px;
}