ion-content {
    text-align: center;
    margin: auto;
}

#depressionTools {
    margin-top: 2%;
    margin-bottom: 2.5%;
}

ion-button {
    display: block;
    width: 60%;
    margin: auto;
    margin-top: 2%;
}

ion-card {
    width: 40%;
    margin: auto;
    padding: 2.5%;
}

h2 {
    margin-bottom: 5%;
}