<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="Home"></ion-icon>
        <ion-label>Home</ion-label>
        <!-- <ion-badge>6</ion-badge> -->
      </ion-tab-button>

      <ion-tab-button (click)="presentModal()">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label>Check-in</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="tools">
        <ion-icon name="construct"></ion-icon>
        <ion-label>Tools</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="settings">
        <ion-icon name="settings"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>