<ion-header>
    <ion-toolbar>
      <ion-title style="text-align: center">Current state advice: </ion-title>
      <ion-buttons slot="primary">
        <ion-button (click)="dismissModal()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <div>
        <ion-label>Manic/Hypomanic Level Suggestion:</ion-label>
        <ion-button *ngIf="manic" class="toolbutton" (click)="takeToManicTools()">{{manic}} Manic/Hypomanic Tools</ion-button>
        <p *ngIf="!manic">No suggestions since Manic level is at 0%. </p>
    </div>

    <br><br>

    <div>
        <ion-label>Depression Level Suggestion:</ion-label>
        <ion-button *ngIf="depressed" class="toolbutton" (click)="takeToDepressedTools()">{{depressed}} Depression Tools</ion-button>
        <p *ngIf="!depressed">No suggestions since Depression level is at 0%. </p>
    </div>


  </ion-content>
