form {
    margin: auto;
    margin-bottom: 4%;
}

ion-item {
    margin: 2%;
    width: 80%;
    margin: auto;
}

ion-label {
    margin-right: 10%;
}

ion-button {
    margin: auto;
    width: 100%;
}

p {
    padding: 2%;
    text-align: center;
}