<ion-header>
        <ion-toolbar>
          <ion-title style="text-align: center">Your Information:</ion-title>
          <ion-buttons slot="primary">
            <ion-button (click)="dismissModal()">
              <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
</ion-header>
  
    
<ion-content class="ion-padding">

  <ion-card>
      <form #form="ngForm" (ngSubmit)="editInOrderUser(form)">
          <ion-item>
                  <ion-label>Username</ion-label>
                  <ion-input disabled type="text" [(ngModel)]="username" name="username" placeholder="{{inorderuser.username}}"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label>First Name</ion-label>
              <ion-input required [disabled]="!editPressed" type="text" [(ngModel)]="firstname" name="firstname" placeholder="{{inorderuser.firstname}}"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label>Last Name</ion-label>
              <ion-input required [disabled]="!editPressed" type="text" [(ngModel)]="lastname" name="lastname" placeholder="{{inorderuser.lastname}}"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label>Password</ion-label>
              <ion-input required [disabled]="!editPressed" type="password" [(ngModel)]="password" name="password" placeholder="{{inorderuser.password}}"></ion-input>
          </ion-item>
          
          <p *ngIf="editPressed">
            Type new information into the fields above.
            <br>
            Make sure all fields are filled before submitting.
          </p>
         

        
      </form>

  </ion-card>

  <div>
      <ion-button [disabled]="form.form.invalid" type="submit" *ngIf="editPressed" (click)="updateInOrderUser(form)">Submit</ion-button>
      <ion-button *ngIf="!editPressed" (click)="pressEdit()">Edit Info</ion-button>
  </div>

</ion-content>
