.button {
    width: 30%;
    height: 70px;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 5px;
}

.label {
    text-align: center;
}

ion-content {
    margin: auto;
    text-align: center;
    display: block; 
}

#scale {
    padding-top: 50px;
}

.submitbutton {
    width: 95%; 
    bottom: 0;
    margin: auto;
}

.infoButton {
    width: 40%;
    height: 40px;
}

ion-row {
    text-align: center;
    margin: auto;
}