form {
    // margin-left: 100%;
    padding: 2%;
    width: 80%;
    margin: auto;
}

ion-item {
    margin-left: 10%;
    margin: auto;
}

ion-label {
    margin-right: 10%;
}

ion-button {
    margin: 0;
    margin: auto;
}

ion-row {
    margin: auto;
    padding: 2.5%;
}

ion-card {
    width: 40%;
    height: auto;
    margin: auto;
    margin-top: 2.5%;
}