<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center">{{select}} Manic Tools</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-row>
      <ion-col>
        <ion-button [disabled]="showFavorites"(click)="toggleFavorites()">Current Favorites</ion-button>
      </ion-col>
      <ion-col>
        <ion-button [disabled]="!showFavorites" (click)="toggleFavorites()">All Tools</ion-button>
      </ion-col>
    </ion-row>
     
    <ion-card>
      <div *ngIf="showFavorites">
        <div id="favoritesList" > 
          <ion-item-sliding *ngFor="let tool of tools">
              <ion-item>
                <ion-checkbox slot="end"></ion-checkbox>
                <ion-label>
                  <h3>{{tool.title}}</h3>
                  <ion-text color="secondary">
                    <p>{{tool.value}}</p>
                  </ion-text>
                </ion-label>
              </ion-item>
      
              <ion-item-options>
                <ion-item-option color="danger" (click)="deleteTool(tool)">Remove</ion-item-option>
              </ion-item-options>
      
            </ion-item-sliding>
          </div>
        </div>
        <div *ngIf="showFavorites">
          <div *ngIf="tools.length > 0">
              <p>Slide to left to remove</p>
          </div>
          <div *ngIf="tools == null || !tools.length > 0">
              <p id="noFavorites">No favorites yet.  Create your first below!</p>
          </div>
        </div>
      </ion-card>
  
    <ion-card *ngIf="showFavorites">
      <ion-item id="addTool">
        <ion-label disabled>Add a new favorite:</ion-label>
        <ion-input placeholder="i.e. Read a book" [(ngModel)]="newTool.title"></ion-input>
        <ion-button (click)="addTool()">Submit</ion-button>
      </ion-item>
    </ion-card>
  
    
    
  <ion-card>
    <div *ngIf="!showFavorites">
        <ion-item *ngFor="let option of selected">
          <ion-label>{{option.value}}</ion-label>
          <ion-checkbox slot="end"></ion-checkbox>
        </ion-item>
    </div>
  </ion-card>
    
  </ion-content>