<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button (click)="previousModal()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title style="text-align: center">Your Current State:</ion-title>
      <ion-buttons slot="primary">
        <ion-button (click)="dismissModal()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">
  
    <div>
      <ion-button fill="outline" class="summarybutton" (click)="backToState()">Manic percentage: {{this.manicpercentage}}0%</ion-button>
      <ion-button fill="outline" class="summarybutton" (click)="backToState()">Depressed percentage: {{this.depressedpercentage}}0%</ion-button>
      <ion-button fill="outline" class="summarybutton" (click)="backToEnvironment()">Environment: {{this.environment}}</ion-button>
      <ion-button fill="outline" class="summarybutton" (click)="backToComfort()">Comfort: {{this.comfort}}</ion-button>
      <ion-button fill="outline" class="summarybutton" (click)="previousModal()">Behavior: {{this.behavior}}</ion-button>
      <br>
      <br>
      <ion-button class="submitbutton" (click)="submitCurrentState()">Next</ion-button>
    </div>
  
    
  
  </ion-content>