<ion-header>
    <ion-toolbar>
      <ion-title style="text-align: center">Insert information to sign up:</ion-title>
      <ion-buttons slot="primary">
        <ion-button (click)="dismissModal()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content class="ion-padding">
    <ion-card>
      <form #form="ngForm" (ngSubmit)="createInOrderUser(form)">
          <ion-item>
              <ion-label>First Name</ion-label>
              <ion-input type="text" [(ngModel)]="firstname" name="firstname"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label>Last Name</ion-label>
              <ion-input type="text" [(ngModel)]="lastname" name="lastname"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label>Username</ion-label>
              <ion-input type="text" [(ngModel)]="username" name="username"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label>Password</ion-label>
              <ion-input type="text" [(ngModel)]="password" name="password"></ion-input>
          </ion-item>
      </form>
    </ion-card>
  
    <div>
      <ion-button style="margin: auto;" class="submitbutton" type="submit" (click)="createInOrderUser(form)">Submit</ion-button>
    </div>
    
  </ion-content>