<ion-content>

  <ion-header>
    <ion-toolbar>
      <ion-title>Home</ion-title>
    </ion-toolbar>
  </ion-header>
      


<div id="chart" class="row" *ngIf="graphView">
  <div class="col-md-12">
    <div style="display: block;">
    <canvas baseChart width="100" height="50"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</div>


<div *ngIf="tableView">
  <table class="table table-bordered">
    <thead>
      <th>Date</th>
      <th>Depressed %</th>
      <th>Manic %</th>
      <th>Environment</th>
      <th>Behavior</th>
      <th>Comfort</th>
    </thead>
      <tr *ngFor="let currentstate of currentStates | slice: (page-1) * pageSize">
        <td>{{currentstate.date | date: 'MM/dd/yyyy'}}</td>
        <td>{{currentstate.depressedpercentage}}0%</td>
        <td>{{currentstate.manicpercentage}}0%</td>
        <td>{{currentstate.environment}}</td>
        <td>{{currentstate.behavior}}</td>
        <td>{{currentstate.comfort}}</td>
      </tr>
      <tr *ngIf="currentStates.length == 0">
          <p style="padding: 2.5%;">No Information to be displayed.</p>
      </tr>
      <tfoot class="grey lighten-5 w-100">
        <tr>
          <td colspan="6">
           <ngb-pagination [(page)]="page" [pageSize]="5" [collectionSize]="currentStates.length"></ngb-pagination>
            <p>Rotate phone to landscape for best view.</p>
          </td>
        </tr>
      </tfoot>
  </table>
</div>

<div id="toggleButtons">
  <ion-button *ngIf="graphView" (click)="switchView()">Show Table</ion-button>
  <ion-button *ngIf="tableView" (click)="switchView()">Show Graph</ion-button>
</div>

</ion-content>
