<ion-content>

  <div>
      <div id="chart" class="row" *ngIf="graphview">
        <div class="col-md-12">
          <div style="display: block;">
          <canvas baseChart width="100" height="50"
                      [datasets]="lineChartData"
                      [labels]="lineChartLabels"
                      [options]="lineChartOptions"
                      [colors]="lineChartColors"
                      [legend]="lineChartLegend"
                      [chartType]="lineChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </div>
      <div id="table" class="row">
          <ion-grid>
              <ion-row>
                <ion-col>
                  <div>
                    <p>Date</p>
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                    <p>Depressed (%)</p>
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                    <p>Manic (%)</p>
                  </div>
                </ion-col>
                <ion-col>
                    <div>
                      <p>Environment</p>
                    </div>
                  </ion-col>
                  <ion-col>
                    <div>
                      <p>Behavior</p>
                    </div>
                  </ion-col>
                  <ion-col>
                    <div>
                      <p>Comfort</p>
                    </div>
                  </ion-col>
              </ion-row>
              <ion-row *ngFor="let currentstate of currentStates">
                  <ion-col>
                    <div>
                      <p>{{currentstate.date | date: 'MM/dd/yyyy'}}</p>
                    </div>
                  </ion-col>
                  <ion-col>
                    <div>
                      <p>{{currentstate.depressedpercentage}}</p>
                    </div>
                  </ion-col>
                  <ion-col>
                    <div>
                      <p>{{currentstate.manicpercentage}}</p>
                    </div>
                  </ion-col>
                  <ion-col>
                      <div>
                        <p>{{currentstate.environment}}</p>
                      </div>
                    </ion-col>
                    <ion-col>
                      <div>
                        <p>{{currentstate.behavior}}</p>
                      </div>
                    </ion-col>
                    <ion-col>
                      <div>
                        <p>{{currentstate.comfort}}</p>
                      </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
      </div>
  </div>

</ion-content>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="Home"></ion-icon>
        <ion-label>Home</ion-label>
        <!-- <ion-badge>6</ion-badge> -->
      </ion-tab-button>

      <ion-tab-button (click)="presentModal()">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label>Check-in</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="tools">
        <ion-icon name="construct"></ion-icon>
        <ion-label>Tools</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="settings">
        <ion-icon name="settings"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>