th {
    width: 40px;
    padding: 5px;
    text-align: center;
}

td {
    width: 40px;
    padding: 5px;
    text-align: center;
}

#table {
    width: 50%;
    margin: auto;
    // border: 1;
}

ion-content {
    margin: auto;
    text-align: center;
    margin: 10%;
}

#switch {
    width: auto;
    margin: auto;
}

#chart {
    height: auto;
    width: 50%;
    margin: auto;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

p {
    font-size: 10px;
    text-align: center;
    
}

ion-grid {
    // --ion-grid-padding: 2px;
    margin: 1%;
    margin: auto;
}
