<ion-content>

    <ion-header>
        <ion-toolbar>
            <ion-title>Settings</ion-title>
        </ion-toolbar>
    </ion-header>
    
    <ion-card>
    
        <ion-button (click)="showDailyReminders()">Daily Reminders</ion-button>

        <ion-button (click)="showMyTools()">My Tools</ion-button>
     
        <ion-button (click)="showAccountingForTime()">Accounting for Time</ion-button>
    
        <ion-button (click)="showInitialSetup()">Initial Set up</ion-button>
      
        <ion-button (click)="showAboutUs()">About Us</ion-button>
     
        <ion-button (click)="showFAQs()">Frequently Asked Questions</ion-button>
       
    </ion-card>
    
    </ion-content>