<ion-content>

    <ion-header>
        <ion-toolbar>
            <ion-title>Settings</ion-title>
        </ion-toolbar>
    </ion-header>
    
    <ion-card>
    
        <ion-button>Daily Reminders</ion-button>

        <ion-button>My Tools</ion-button>
     
        <ion-button>Accounting for Time</ion-button>
    
        <ion-button>Initial Set up</ion-button>
      
        <ion-button>About us</ion-button>
     
        <ion-button full (click)="showFAQs()">Frequently Asked Questions</ion-button>
       
    </ion-card>
    
    </ion-content>