<ion-content>

    <ion-header>
        <ion-toolbar>
            <ion-title>Settings</ion-title>
        </ion-toolbar>
    </ion-header>
    
    <ion-list>
      <ion-item>
          <ion-label>Daily Reminders</ion-label>
      </ion-item>
      <ion-item>
          <ion-label>My Tools</ion-label>
      </ion-item>
      <ion-item>
          <ion-label>Accounting for Time</ion-label>
      </ion-item>
      <ion-item>
          <ion-label>Initial Set Up</ion-label>
      </ion-item>
      <ion-item>
          <ion-label>About Us</ion-label>
      </ion-item>
      <ion-item>
          <ion-label>FAQs</ion-label>
      </ion-item>
    </ion-list>
    
    </ion-content>