ion-content {
    text-align: center;
    margin: auto;
}

ion-card {
    padding: 2%;
    width: 90%;
    margin: auto;
    margin-top: 2%;
    background-color: white;
}

ion-button {
    text-align: center;
    margin: auto;
    width: 90%;
    height: 50px;
    margin-bottom: 1.5%;
}

.background {
    --background: linear-gradient(#a1c4fd, #c2e9fb) !important;
}