ion-content {
    text-align: center;
    margin: auto;
}

ion-card {
    padding: 2%;
    width: 90%;
    margin: auto;
    margin-top: 2%;
}

ion-button {
    text-align: center;
    margin: auto;
    width: 90%;
    height: 50px;
    margin-bottom: 1.5%;
}